@charset "utf-8";
/* CSS Document */
@font-face{
	font-family:"Bodoni 72 Bold";
	src: url("Bodoni 72 OS.ttc");
}
/* menu and nav settings*/
nav{
	position: fixed;
    width: 100%;
	z-index: 100;
	color: white;
}
.menu {
    display: block;
    position: fixed;
    top: 5%;
    right: 3%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:rgba(255,217,0,0.60);
    overflow-x: hidden;
    transition: 0.5s;
    margin: 10px 0 0 0;
    padding-top: 60px;
}

.sidenav a {
	font-family:"Bodoni 72 Bold";
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #CCCCCC;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
h1{
	font-size: 45px;
	color: white;
}

html body{
	padding:0;
	margin:0;	
}

ul{
	position:fixed;
	top:0;
	z-index:1000;
}

.parallax-window{
	min-height: 750px;/*最好設固定高*/
}

.other{
    min-height: 300px;
    background:rgba(255,217,0,1.00);
	color:#fff;
	font-family: "Bodoni 72 Bold";
	font-size:24px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

footer{	
	position: fixed;
	bottom:0;
	font-size: 10px;
	width:100%;
	text-align:center;
	z-index:3000;
	color:#fff;
}
