@charset "UTF-8";
/* CSS Document */
@import url("rwd.css");
@font-face{
	font-family: "Bodoni 72 Bold";
	src: url("Bodoni 72 OS.ttc")
}
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');


/* menu and nav settings*/
nav{
	position: fixed;
    width: 100%;
	z-index: 100;
	color: white;
}
.menu {
    display: block;
    position: fixed;
    top: 5%;
    right: 3%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(255,217,0,0.60);
    overflow-x: hidden;
    transition: 0.5s;
    margin: 10px 0 0 0;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #CCCCCC;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
body{
	margin: 0;
	background: rgba(255,217,0);
}

.aside{
	font-family:"Bodoni 72 Bold";
	float:top;
	width: 100%;
	height: 180px;
	margin: 0;
	background: rgba(255,217,0);
}

.box {
    display: inline-block;
    width: 130px;
    height: 100%;
    font-size: 100px;
    position: relative;
    background: rgba(255,217,0);
}

.box:hover{
	background: rgba(255,217,0);
	cursor:pointer; /*cursor 游標*/
}

section{
	position: relative;
	left: 0%;
	height: 100vh;
	width:100%;
	background: rgba(255,217,0);
}

.text{
	position: absolute;
	text-align: left;
	left: 20%;
	top: 50%;
	font-size: 10px;
	color:white;
}

.text1{
	position: absolute;
	text-align: left;
	left: 20%;
	top: 100%;
	font-size: 10px;
	color:white;
}


.yel{
	background: #FF0;
}

.pink{
	background: #F3C;
}

.ch_bg{ /*在JQ有的change background*/
	background: #36F;
}

/*========= rwd detail ==========*/
/* For tablet*/

@media only screen and (min-width: 768px){
    .aside {
        display:inline-block;
        width: 100%;
        height: 180px;
    }
    .box {
        display: inline-block;
        width: 19%;
        height: 37%%;
        float:top;
        position: relative;
        background: rgba(255,217,0);
    }
        section{
        position: relative;
        left: 0%;
        height: 100vh;
        width:100%;
        background: white;
    }
	
	.text{
	position: absolute;
	text-align: left;
	left: 15%;
	top: 20%;
	font-size: 10px;
	color:white;
}

.text1{
	position: absolute;
	text-align: left;
	left: 40%;
	top: 20%;
	font-size: 10px;
	color:white;
}

}

/* For desktop*/
@media only screen and (min-width: 1200px){
    .aside {
        float:left;
        width: 16%;
        height: 100vh;
    }
    .box {
        display:inline-block;
        width: 100%;
        height: 25%;
        font-size: 100px;
        position: relative;
        background: rgba(255,217,0);
    }

    section {
        float:left;
        position: relative;
        left: 0%;
        height: 100vh;
        width:84%;
        background: white;
    }
	.text{
	position: absolute;
	text-align: left;
	left: 23%;
	top: 55%;
	font-size: 10px;
	color:white;
}

.text1{
	position: absolute;
	text-align: left;
	left: 45%;
	top: 55%;
	font-size: 10px;
	color:white;
}

}
